.to-do-table-container {
  display: block;
  margin: 5px 0 30px 0;
  padding: 15px;
  height: 33vw;
  overflow-y: scroll;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  border: 1px solid rgba(34, 36, 38, 0.15);
}

.to-do-table-container::-webkit-scrollbar {
  background: #f5f5f5;
  width: 7px;
}

.to-do-table-container::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.to-do-table-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(122, 153, 217)),
    color-stop(0.72, rgb(73, 125, 189)),
    color-stop(0.86, rgb(28, 58, 148))
  );
}

.to-do-header {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}

.to-do-list-container {
  list-style: none;
}

.to-do-list-item {
  display: grid;
  grid-template-columns: 85% 15%;
  justify-content: center;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
  border-bottom: 0.5px solid #c8ccd4;
  margin: auto;
}

.to-do-list-item.completed {
  background: #dcdee3;
  color: #6e7074;
  border-bottom: 0.5px solid #92959b;
}

.to-do-list-item.completed:hover {
  background: #dcdee3;
  color: #6e7074;
  border-bottom: 0.5px solid #92959b;
}

.to-do-list-item.completed span:last-child {
  text-decoration: line-through;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.to-do-list-item:hover {
  background: #d4e2ff;
}
