.to-do-input {
  display: inline-block;
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 100%;
}

.to-do-input .label {
  position: absolute;
  top: 20px;
  left: 0;
  font-size: 16px;
  color: #566079;
  font-weight: 500;
  transform-origin: 0 0;
  transition: all 0.2s ease;
  z-index: -1;
}

.to-do-input .border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #2772ff;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all 0.15s ease;
}
.to-do-input input {
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 16px 0 0 0;
  height: 48px;
  font-size: 16px;
  text-overflow: ellipsis;
  font-weight: 500;
  border-bottom: 2px solid #c8ccd4;
  background: none;
  border-radius: 0;
  color: #223254;
  transition: all 0.15s ease;
  max-width: 100%;
}
.to-do-input input:hover {
  background: rgba(34, 50, 84, 0.03);
}

.to-do-input input:not(:placeholder-shown) + span {
  color: #5a667f;
  transform: translateY(-26px) scale(0.75);
}
.to-do-input input:focus {
  background: none;
  outline: none;
}
.to-do-input input:focus + span {
  color: #2772ff;
  transform: translateY(-26px) scale(0.75);
}
.to-do-input input:focus + span + .border {
  transform: scaleX(1);
}

.date-not-expired {
  color: #2772ff;
}

.date-expired {
  color: #ef5350;
}
